@import '../../scss/variables';

$disabled-color: #0d686d;

.btn {
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
  padding: 0.6rem 1.8rem;

  &--primary {
    @extend .btn;

    background-color: $neutral-color-1;
    color: $neutral-color-6;
  }

  &--primary-variant {
    @extend .btn;

    background-color: $primary-color-1;
    color: $neutral-color-1;
  }

  &--disabled {
    @extend .btn;

    background-color: $disabled-color;
    color: $neutral-color-1;
    cursor: default;
  }
}
