@import '../../scss/variables';

$disabled-color: #0d686d;
$hover-color: #9fe8df;

.btn {
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
  padding: 0.6rem 1.8rem;
  transition: all 250ms ease;
  transition-property: background-color, color;

  &:hover,
  &:active {
    background-color: $hover-color;
    color: $neutral-color-1;
  }

  &--primary {
    @extend .btn;

    background-color: $neutral-color-1;
    color: $neutral-color-6;
  }

  &--primary-variant {
    @extend .btn;

    background-color: $primary-color-1;
    color: $neutral-color-1;
  }

  &--disabled {
    @extend .btn;

    background-color: $disabled-color;
    color: $neutral-color-1;
    cursor: default;

    &:hover,
    &:active {
      background-color: $disabled-color;
      color: $neutral-color-1;
    }
  }
}
