@import '../../scss/variables';
@import '../../scss/mixins';

$border-width: 0.2rem;

.textfield {
  background-color: $neutral-color-5;
  border: $border-width solid transparent;
  border-radius: 0.5rem;
  color: $neutral-color-1;
  outline: none;
  padding: 0.6rem 1.8rem;
  padding-left: 5rem;
  width: 100%;

  &__container {
    position: relative;
    margin-bottom: 3.2rem;
  }

  &__icon {
    left: 1.8rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &--no-icon {
    @extend .textfield;
    padding-left: 1.8rem;

    @include mdMinBreakPoint {
      padding: 0.6rem 1.4rem;
    }
  }

  &:focus {
    border-color: $primary-color-1;
  }
}

.light-placeholder::placeholder {
  color: $neutral-color-3;
}

.dark-placeholder::placeholder {
  color: $neutral-color-2;
}

.error:focus {
  border-color: $error;
}
