@import './variables';

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: $neutral-color-4;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
