html {
  font-size: 62.5%;
}

body {
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Space Mono', monospace;
}

label {
  font-size: 1.6rem;
  font-weight: 900;
}

input {
  font-family: inherit;
  font-size: 2.4rem;
  font-weight: 900;
  text-align: end;
}

button {
  font-family: inherit;
  font-size: 2.4rem;
  font-weight: 900;
}

h1 {
  display: none;
}

h2 {
  font-size: 1.6rem;
  font-weight: 900;
}
