@import '../../scss/variables';
@import '../../scss/mixins';

.controls {
  &__container {
    @include lgMinBreakPoint {
      flex: 1;
      margin: 1.6rem;
      margin-right: 3.2rem;
    }
  }
  &__label {
    color: $neutral-color-2;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.6rem;
  }
}

.tip-percentages {
  &__container {
    display: grid;
    gap: 1.6rem;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1.6rem;
    margin-bottom: 3.2rem;

    @include mdMinBreakPoint {
      grid-template-columns: repeat(3, 1fr);
    }

    @include lgMinBreakPoint {
      column-gap: 1.4rem;
      row-gap: 1.6rem;
    }
  }
}

.error {
  color: $error;
}
