@import '../../scss/variables';
@import '../../scss/mixins';

.tip-info {
  &__container {
    background-color: $neutral-color-1;
    border-radius: 1.5rem;
    margin-top: 3.2rem;
    padding: 2.4rem;

    @include lgMinBreakPoint {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 4rem;
    }
  }

  &__btn {
    margin-top: 3.2rem;
    width: 100%;
  }
}

.amount-info {
  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &:last-of-type {
      margin-top: 2rem;

      @include lgMinBreakPoint {
        align-items: flex-start;
        display: flex;
        flex: 1;
        margin-top: 2.5rem;
      }
    }
  }

  &__title {
    color: $neutral-color-6;

    & > div {
      color: $neutral-color-3;
      font-size: 1.3rem;
      font-weight: 900;
    }
  }

  &__amount {
    color: $primary-color-1;
    font-size: 3.2rem;
    font-weight: 900;

    @include lgMinBreakPoint {
      font-size: 4.8rem;
    }
  }
}
